asgiref
astroid
autopep8
colorama
Django
django-crispy-forms
django-extensions
django-filter
django-forms-bootstrap
django-widget-tweaks
isort
lazy-object-proxy
mccabe
Pillow
psycopg2
pycodestyle
pylint
pylint-django
pylint-plugin-utils
pytz
six
sqlparse
toml
typed-ast
wrapt
